@model Team11_2106Project.ViewModel.CandidateProfileViewModel

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>`

<div>
    <h4>CandidateProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentYear)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CandidateID }) |



    @* Only admin can go back to see all the candidate profiles *@
    @if (TempData.ContainsKey("AdminID"))
    {
        var adminID = TempData["AdminID"].ToString();

          @Html.ActionLink("Back to List", "Index")

        TempData["AdminID"] = adminID;
    } 

</p>
