@model Team11_2106Project.Models.CandidateProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CandidateProfile</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CandidateID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentYear)
                @Html.ValidationMessageFor(model => model.StudentYear)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.StudentYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UpdatedTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedTime)
                @Html.ValidationMessageFor(model => model.UpdatedTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionApplied, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PositionApplied)
                @Html.ValidationMessageFor(model => model.PositionApplied)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Introduction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextAreaFor(model => model.Introduction, new { rows = 10, cols = 50 })
                @Html.ValidationMessageFor(model => model.Introduction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CCA, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CCA)
                @Html.ValidationMessageFor(model => model.CCA)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
