@model IEnumerable<Team11_2106Project.ViewModel.RalliesViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @* Only Admin and candidate can create rallies *@
    @if (TempData.ContainsKey("CandidateID") || TempData.ContainsKey("AdminID"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CandidateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                @* Candidate and Admin can edit and delete rallies *@
                @if (TempData.ContainsKey("AdminID"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.RalliesID }) <p>|</p>
                    @Html.ActionLink("Delete", "Delete", new { id = item.RalliesID }) <p>|</p>
                }
                else if (TempData.ContainsKey("CandidateID"))
                {

                    var candidateID = TempData["CandidateID"].ToString();
                
                    @* Only candidates can edit and delete their own rallies *@
                    if (candidateID.Equals(item.CandidateID.ToString()))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.RalliesID }) <p>|</p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.RalliesID }) <p>|</p>
                    }

                    TempData["CandidateID"] = candidateID;
                } 



                @Html.ActionLink("Details", "Details", new { id = item.RalliesID }) 
            </td>
        </tr>
    }

</table>
