@model IEnumerable<Team11_2106Project.ViewModel.Navbar>

<!--5-->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Candidate</a>
        </div>
        <div class="collapse navbar-collapse">
            @if (TempData.ContainsKey("StudentRole"))
            {
                var studentRole = TempData["StudentRole"].ToString();

                if (studentRole.Equals("Candidate"))
                {
                    <ul class="nav navbar-nav">
                        @*<li class="active">@Html.ActionLink("Home", "Index", new { controller = "Home" })
                    <li>@Html.ActionLink("Profile", "VoteControl", "Vote")</li>
                    <li>@Html.ActionLink("Rally", "Index", "Home")</li>*@
                        <li>SUCK THAT BITCHES! CANDIDATE!!!</li>
                    </ul>
                }
                else if (studentRole.Equals("Voter"))
                {
                    <ul class="nav navbar-nav">
                        <li>SUCK THAT BITCHES! VOTER!!!</li>
                    </ul>
                }
                else if (studentRole.Equals("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li>SUCK THAT BITCHES! ADMIN!!!</li>
                    </ul>
                }
                TempData["StudentRole"] = studentRole;
            }


            @Html.Partial("_LoginPartial")
        </div><!--/.nav-collapse -->
    </div>
</div>



@*
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">NavBar</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", new { controller = "Home" })</li>
                    <li><a href="https://github.com/fontenele/bootstrap-navbar-dropdowns" target="_blank">GitHub</a></li>


                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 1 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">One more separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu 2 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret caret-right"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">One more separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
*@