@model Team11_2106Project.Models.Voter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SingleVote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SingleVote)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VoterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
