@* Display all the candidates in the home page after the Admin logs in. This is so that the Admin 
    can place a vote immediately *@

@model IEnumerable<Team11_2106Project.ViewModel.CandidateProfileViewModel>

    @{
        ViewBag.Title = "Admin";
    }

    <h2>Index</h2>

    <table class="table">
        <tr>

            <th></th>
            <th></th>
            <th></th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StudentYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CCA)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CCA)
                </td>
                <td>
                    <a href="@Url.Action("Vote", new { id = item.CandidateID })" class="btn btn-success">
                        VOTE!
                    </a>
                </td>

            </tr>
        }


    </table>
