@* Allows the User to confirm their vote by viewing the Profile of the Candidates that they have selected
    to vote earlier *@

@model Team11_2106Project.ViewModel.CandidateProfileViewModel

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>

<div>
    <h4>CandidateProfileViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCA)
        </dd>

    </dl>
</div>
<p>
    @* Confirm Vote! *@
    <a href="@Url.Action("Voting", new { id = Model.CandidateID })" class="btn btn-success">
        CONFIRM VOTE!
    </a>

    @Html.ActionLink("Back to Home Page", "Index")

</p>
