@model IEnumerable<ExploreCalifornia.Models.CandidateProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCA)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Introduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCA)
        </td>
    
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CandidateID }) | 
            @Html.ActionLink("Details", "Details", new { id=item.CandidateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandidateID })
        </td>
    </tr>
}

</table>
